p {
  color: green;
}

h1 {
  color: maroon;
}
.title {
  color: teal;
}
div {
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px;
}
#logo {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid green;
}
