p {
  color: green;
}

h1 {
  color: maroon;
}
.title {
  color: teal;
}

img {
    max-width: 100%;
    height: auto;
}

#logo {
    width: 120px;
    height: 120px;
    height: auto;
    position: static;
    top:0;
    left:0;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#topnav {
    display: flex;
    justify-content: flex-end;
    float: left;
  background: url(https://content.codecademy.com/projects/innovation-cloud/bg.jpg) no-repeat center center; 
  background-size: cover;
  text-align: center; 
    height: 800px; 
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  
