p {
  color: green;
}

h1 {
  color: maroon;
}
.title {
  color: teal;
}
div {
    display: inline-block; 
    width:200px; 
    border:1px solid; 
    vertical-align:top
}

img {
    max-width: 100%;
    height: auto;
}

#logo {
    width: 120px;
    height: 120px;
    height: auto;
    position: static;
    top:0;
    left:0;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

#topnav {
    display: flex;
    justify-content: flex-end;
    float: left;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child: {
    flex 2;
    border: 2px solid yellow;
} 
